<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/nin/update/<%= data.id - 1 %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>ID</td><td><input type="text" name="id" value="<%= data.id %>"></td></tr>
      <tr><td>種類</td><td><input type="text" name="kind" value="<%= data.kind %>"></td></tr>
      <tr><td>ゲーム機名</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>発売日</td><td><input type="text" name="day" value="<%= data.day %>"></td></tr>
      <tr><td>値段</td><td><input type="text" name="price" value="<%= data.price %>"></td></tr>
      <tr><td>プレイ人数</td><td><input type="text" name="people" value="<%= data.people %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <a href="/nin/">一覧に戻る</a>
</body>
</html>