<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.id %></td></tr>
    <tr><td>種類</td><td><%= data.kind %></td></tr>
    <tr><td>ゲーム機名</td><td><%= data.name %></td></tr>
    <tr><td>発売日</td><td><%= data.day %></td></tr>
    <tr><td>値段</td><td><%= data.price %></td></tr>
    <tr><td>プレイ人数</td><td><%= data.people %></td></tr>
  </table>
  <a href="/nin/edit/<%= id %>">編集</a>
  <a href="/nin">一覧に戻る</a>
</body>
</html>