<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.id %></td></tr>
    <tr><td>名前</td><td><%= data.name %></td></tr>
    <tr><td>タイプ</td><td><%= data.type %></td></tr>
    <tr><td>分類</td><td><%= data.class %></td></tr>
    <tr><td>特性</td><td><%= data.character %></td></tr>
    <tr><td>生息地</td><td><%= data.region %></td></tr>
  </table>
  <a href="/po/edit/<%= id %>">編集</a>
  <a href="/po/delete/<%= id %>" onclick="return confirm('本当に削除しますか？');">削除</a>
  <a href="/po">一覧に戻る</a>
</body>
</html>